In [1]:
import pandas as pd

In [2]:
all_divisions = {
    "Premier Main": 424,
    "2": 425,
    "3": 426,
    "4": 427,
    "5": 428,
    "6": 429,
    "7A": 430,
    "7B": 431,
    "8A": 432,
    "8B": 433,
    "9": 434,
    "10": 435,
    "11": 436,
    "12": 437,
    "13A": 438,
    "13B": 439,
    "14": 440,
    "15A": 441,
    "15B": 442,
    "Premier Masters": 443,
    "M2": 444,
    "M3": 445,
    "M4": 446,
    "Premier Ladies": 447,
    "L2": 448,
    "L3": 449,
    "L4": 450,
    }

In [3]:
summary_directory = r"C:\Users\bpali\PycharmProjects\SquashApp\2024-2025\summary_df"

In [4]:
# In the the summary directory are week_x folders (eg week_4). First check the most recent folder (ie the highest number), then check the next highest, etc, 
# using the all_divisions dictionary to make sure we load every division's most recent summary file and avoid loading an older file for a division that has a more recent file.

summary_dfs = []
for division in all_divisions.keys():
    for week in range(10, 0, -1):
        try:
            summary_df = pd.read_csv(f"{summary_directory}\\week_{week}\\{division}_summary_df.csv")
            summary_df["Division"] = division
            # Create Rank column based on Points column
            summary_df["Rank"] = summary_df["Points"].rank(ascending=False, method="min")
            # Make sure Rank column is an integer
            summary_df["Rank"] = summary_df["Rank"].astype(int)
            summary_dfs.append(summary_df)
            break
        except FileNotFoundError:
            continue

# Concatenate all the summary dataframes into one
summary_df = pd.concat(summary_dfs)

In [5]:
hkcc = "Hong Kong Cricket Club"

# Filter rows where Team column contains "Hong Kong Cricket Club"
hkcc_summary_df = summary_df[summary_df["Team"].str.contains(hkcc)]

hkcc_summary_df

,Team,Played,Won,Lost,Points,Rubbers For,Rubbers Against,Division,Rank
1,Hong Kong Cricket Club 1,3,3,0,9,6,3,Premier Main,2
3,Hong Kong Cricket Club 2,2,0,2,1,1,7,2,4
5,Hong Kong Cricket Club 3,3,1,2,5,4,11,4,6
3,Hong Kong Cricket Club 4,3,2,1,12,10,5,6,4
5,Hong Kong Cricket Club 5,3,1,2,8,7,8,7A,5
4,Hong Kong Cricket Club 6,3,2,1,10,8,7,7B,3
2,Hong Kong Cricket Club 8,4,1,3,11,10,10,15A,3
2,Hong Kong Cricket Club M1A,4,1,3,5,4,8,Premier Masters,3
4,Hong Kong Cricket Club M1B,2,1,1,3,2,4,Premier Masters,5
2,Hong Kong Cricket Club M2B,4,2,2,12,10,6,M2,3
3,Hong Kong Cricket Club M2A,4,2,2,8,6,10,M2,4
5,Hong Kong Cricket Club M3,4,2,2,9,7,13,M3,6
4,Hong Kong Cricket Club L1,2,0,2,1,1,5,Premier Ladies,5
4,Hong Kong Cricket Club L2,3,1,2,4,3,9,L2,5
3,Hong Kong Cricket Club Rockettes,3,1,2,5,4,5,L3,4
1,Hong Kong Cricket Club L4,2,2,0,7,5,1,L4,2