In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\bpali\PycharmProjects\SquashApp\2024-2025\combined_player_results_df.csv")

In [4]:
df.head()

,Unnamed: 0,Player Name,Team,Opponent Name,Opponent Team,Match Date,Venue,Rubber Number,Score,Result,Home/Away,Division
0,0,Wong Gary Ming Ho,Sha Tin 4,Tam Wai Nam,RELAY 1,07/10/2024,Cornwall Street Squash Centre,1,0-3,Loss,Home,10
1,1,Tam Wai Nam,RELAY 1,Wong Gary Ming Ho,Sha Tin 4,07/10/2024,Cornwall Street Squash Centre,1,3-0,Win,Away,10
2,2,Leung Siu Lun,Sha Tin 4,Cheung Danny Yui Nam,RELAY 1,07/10/2024,Cornwall Street Squash Centre,2,0-3,Loss,Home,10
3,3,Cheung Danny Yui Nam,RELAY 1,Leung Siu Lun,Sha Tin 4,07/10/2024,Cornwall Street Squash Centre,2,3-0,Win,Away,10
4,4,Kan Alvin Ho Yin,Sha Tin 4,Yuen Tsun Kit,RELAY 1,07/10/2024,Cornwall Street Squash Centre,3,1-3,Loss,Home,10

In [5]:
# Create Integer Division column
df["div_int"] = df["Division"].str.strip("A|B")

In [6]:
# Divisions to exclude
divisions = ['L2', 'L3', 'L4', 'M2', 'M3', 'M4', 'Premier Ladies',
       'Premier Main', 'Premier Masters']

# Filter out the divisions to exclude
df = df[~df["div_int"].isin(divisions)]

# Convert the div_int column to integer
df["div_int"] = df["div_int"].astype(int)

# Keep only rows where the div_int column is 2 to 8
df = df[df["div_int"].between(2, 8)]

In [7]:
df["Score"].value_counts()

Score
3-0    295
0-3    295
3-1    195
1-3    195
3-2    113
2-3    113
CR      30
WO       2
Name: count, dtype: int64

In [8]:
# Exclude rows where the score is 'CR' or 'WO'
df = df[~df["Score"].isin(['CR', 'WO'])]

In [9]:
# Count the percentage of scores that are 3-2 or 2-3
df["Score"].str.contains("3-2|2-3").mean()

0.18739635157545606

In [10]:
113 / (295 + 195 + 113)

0.18739635157545606

In [12]:
# Show the players in Player Name column with most 3-2 or 2-3 scores
df[df["Score"].str.contains("3-2|2-3")]["Player Name"].value_counts()

Player Name
Chan Keiko Tsun Ling    3
Chan Ming Yan Calvin    3
Au Alex Ka Man          3
Wong Kin Tung           2
Lin Charles Lan Kay     2
                       ..
Tam Thomas Siu Ying     1
Ng Tsz Chun             1
Li James King Hei       1
Leung Sum Nam           1
Yum Chun Ting           1
Name: count, Length: 188, dtype: int64

In [15]:
# Show the players in Player Name column where count of 3-2 or 2-3 results is 3 or more
df[df["Score"].str.contains("3-2|2-3")]["Player Name"].value_counts()[df[df["Score"].str.contains("3-2|2-3")]["Player Name"].value_counts() >= 3]

Player Name
Chan Keiko Tsun Ling    3
Chan Ming Yan Calvin    3
Au Alex Ka Man          3
Name: count, dtype: int64