In [4]:
import pandas as pd
import os
import glob

In [2]:
base_directory = r"C:\Users\bpali\PycharmProjects\SquashApp\2024-2025\players_df\week_1"

In [5]:
# Find all csvs in base directory, import them, and concatenate them into a single dataframe
dfs = []
for file in glob.glob(os.path.join(base_directory, "*.csv")):
    df = pd.read_csv(file)
    dfs.append(df)

In [6]:
df = pd.concat(dfs, ignore_index=True)

In [7]:
df

,Order,Player,HKS No.,Ranking,Points,Team,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,1,Swan Owen,32975,0,12.0,Banbil,NaN,NaN,NaN,NaN
1,2,Foo Chun Huey,32317,0,0.0,Banbil,NaN,NaN,NaN,NaN
2,3,Au Wing Yin Francis,33697,0,0.0,Banbil,NaN,NaN,NaN,NaN
3,4,Leow Kin Leung,33698,0,9.0,Banbil,NaN,NaN,NaN,NaN
4,5,Huang Kai Tao,34612,0,9.0,Banbil,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1959,1,Tulloch Gillem,29779,0,0.0,Ladies Recreation Club M1,NaN,NaN,NaN,NaN
1960,2,Nihalani Rajesh,25743,0,0.0,Ladies Recreation Club M1,NaN,NaN,NaN,NaN
1961,3,Caves Christopher,29552,0,0.0,Ladies Recreation Club M1,NaN,NaN,NaN,NaN
1962,4,Brantly Charles,32208,0,0.0,Ladies Recreation Club M1,NaN,NaN,NaN,NaN
1963,5,* Leung Adco,30998,0,0.0,Ladies Recreation Club M1,NaN,NaN,NaN,NaN

In [8]:
# Get median HKS No. for each Team
df.groupby('Team')['HKS No.'].median()

Team
7NT                              29303.0
8 Virtues + 1                    34197.5
Alpha CUHK                       24699.0
Arctic Circle                    32928.5
BOSS                             21996.0
                                  ...
i-Mask Advance Squash Club 4     34091.0
i-Mask Advance Squash Club 5     34116.0
i-Mask Advance Squash Club 6     34447.0
i-Mask Advance Squash Club L3    31965.5
i-Mask Advance Squash Club L4    34788.0
Name: HKS No., Length: 215, dtype: float64

In [13]:
# List the teams where every HKS No. is under 30000
df.groupby('Team')['HKS No.'].apply(lambda x: all(x < 30000))
# Show only the teams where every HKS No. is under 30000
df.groupby('Team')['HKS No.'].apply(lambda x: all(x < 30000)).loc[lambda x: x]

Team
Alpha CUHK                          True
BOSS                                True
Global Squash 1                     True
Hong Kong Football Club 1A          True
SKCSC                               True
South China Athletic Association    True
Xavier                              True
i-Mask Advance Squash Club 2        True
Name: HKS No., dtype: bool

In [20]:
# Rank every Team by median HKS No. from lowest to highest and order the teams by rank
df.groupby('Team')['HKS No.'].median().rank().sort_values()
# Show the top 20 teams by median HKS No.
df.groupby('Team')['HKS No.'].median().rank().sort_values().head(20)

# Find Team 'Xavier' rank
df.groupby('Team')['HKS No.'].median().rank().sort_values().loc['Xavier']

28.0